{
  "parameters": {
    "url": "https://api.forecast.io/forecast",
    "key": "<enter your Forecast key here>",
    "loc": "<longitude>,<latitude>",
    "options": {
      "units": "si",
      "lang":  "fr"
    }
  }
}
